PORT=3000
MONGO_URL=mongodb://127.0.0.1:27017/map_generator
JWT_SECRET=change_this_to_a_long_random_string
CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
